DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backups_manager"

# MinIO configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=your-minio-user
MINIO_SECRET_KEY=your-minio-password
MINIO_BUCKET=backups

# Queue configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Security
SESSION_SECRET="yoursessiontokenyoursessiontokensoursessiontoken"
SESSION_EXPIRES_IN=1h

# CORS origins
CORS_ORIGINS=http://localhost:3000

# Telegram BOT configuration
TELEGRAM_BOT_TOKEN=yourtelegramBotFatherTokenyourtelegramBotFatherToken

# Host Token Security
ENCRYPTION_KEY=yourcodeyourcodeyourcodeyourcodeyourcodeyourcode